<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twilio.chat.demo"
    android:versionCode="26">
     <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.twilio.chat.demo.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <uses-permission android:name="com.twilio.chat.demo.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".TwilioApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChannelActivity"
            android:label="@string/title_activity_channel" >
        </activity>
        <activity
            android:name=".activities.MessageActivity"
            android:label="@string/title_activity_message"
            android:launchMode="singleTop" >
        </activity>

        <activity
            android:name=".activities.UserActivity"
            android:label="@string/user_info_activity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
        </activity>

        <!-- FCM service -->

        <service
            android:name=".services.FCMListenerService">
            <!-- android:exported="true" -->
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/darkred" />

        <!-- FCM instance ID service -->

        <service
            android:name=".services.FCMInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.RegistrationIntentService"
            android:exported="false">
        </service>

        <meta-data android:name="com.google.android.gms.version"
    		android:value="@integer/google_play_services_version" />
    </application>
</manifest>
